.res__heading{
    font-size:50px;
    color:var(--purple-shade);
    font-weight:700;
    text-align: center;
    margin-top:50px;
    justify-content: center;
    align-items: center;
}

.res__para{
    text-align: center;
}

.paradome{
    font-size:15px;
    color:var(--default-heading);
    opacity:0.7;
}

.para__sob{
    display:flex;
    flex-direction: column;
    margin-top:50px;
}

.para__sob a{
    margin:10px;
    text-decoration: none;
    color:var(--para-text);
    font-size:18px;
    font-weight:600;
    text-decoration: underline;
}